<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Appointment Suggestion</title>
</head>
<body>
<h1>Appointment Suggestion</h1>
<p>Hey You</p>
<p>
Need a ride?! The car '<span th:text="${car}"></span>' is right around the corner waiting for you!
</p>
<p>
    But: No need to walk any further! Click <a href="https://smart-appointments.herokuapp.com/rest/v1/appointment/1/accepted/true">here</a> and your car will pick you up in no time!
</p>
<p>Thank you!</p>
</body>
</html>
